{
    "env": {
        "node": true,
        "commonjs": true,
        "es2021": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "off"
        ],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    },
    "globals": {
        "Phaser":true,
        "ENDPOINT":true,
        "fetch":true,
        "window":true
    }
}